Django==1.9.2
MarkupSafe==0.23
appnope==0.1.0
argparse==1.2.1
decorator==4.0.6
dj-database-url==0.3.0
django-extensions==1.6.1
django-likes==0.2
gunicorn==19.4.5
ipdb==0.8.1
ipython==4.1.0
ipython-genutils==0.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
whitenoise==2.0.6
wsgiref==0.1.2
