{% extends "base.html" %}

{% block content %}

<form class="form-signin" role="form" method="post" action=".">
{% csrf_token %}
	<h2 class="form-signin-heading">Please sign in</h2>
	<div class="form-group"
		<label for="id_username">Username</label>
		<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
	</div>
	<div class="form-group">
		<label for="id_password">Password</label>
		<input type="password" class="form-control" placeholder="Password" id="id_password" name="password"  required />
    </div>
    <button class="btn btn-primary" type="submit" value="Submit" >Sign in</button>

</form>

{% endblock %}
