{% extends 'base.html' %}

{% block content %}


{% load announcements_tags %}

<h3>Announcements</h3>

{% announcements as announcements_list %}

{% if announcements_list %}
    <div class="announcements">
        {% for announcement in announcements_list %}
        	<div class="panel panel-primary">
                <div class="announcement">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ announcement.title }}</h3></div>
                    <div class="panel-body">
            	        {{ announcement.content | safe }}
                    </div>
                    {% if announcement.dismiss_url %}
                       <a href="{{ announcement.dismiss_url }}" class="ajax" data-clear-closest=".announcement"> Clear</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}

