{% extends 'base.html' %}

{% block content %}

	<div class="jumbotron">
    	<h1 class="label label-pill label-success">Announcements</h1>
    </div>
    
    <!-- Subsection 1, Info -->
	<div class="row-fluid">
		<div class="span6"> 
			<img class="img" src="static/tux-nd-big.png" alt="Tux ND" width="400" height="400">
		</div>
		<div class="span6"><br>
			<div class="panel panel-primary">
			  <div class="panel-heading">
				<h3 class="panel-title">First Meeting</h3>
			  </div>
			  <div class="panel-body">
				Wednesday Feb 10, 2016 in Debart 214, 7pm - 8pm
			  </div>
			</div>
			<div class="panel panel-primary">
			  <div class="panel-heading">
				<h3 class="panel-title">Welcome!</h3>
			  </div>
			  <div class="panel-body">
				You've made it to our brand new site! Poke around, tell us what you think.
			  </div>
			</div>
		</div>
		
	</div>
{% endblock %}
