<!DOCTYPE html>

 <!-- Base template -->
 <!-- done: nav bar-->
 <!-- TODO: actual links, colors(?), words, convert to jinja!  -->

 <html>
  <head>
    <title>ND LUG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
 <body>
    <div class="container">

  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> ND LUG </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<!--
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a>{{ user.username }}</a></li>
        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'auth_login' %}">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

      <h2></h2>
      <br>
      {% block content %}{% endblock %}
      <br>
      <h2></h2>
      <div id="content">{% block morecontent %}{% endblock %}</div>
    <footer class="footer">
        <div class="container text-center">
        &copy; Built with <a href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, and <a href="http://getbootstrap.com/">Bootstrap</a>.
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>




