{% extends 'base.html' %}

{% block content %}

    <!-- Subsection 1, Info -->
	<div class="row-fluid">
	    <h1>About NDLUG</h1>
	    <h2>Purpose</h2>
	    <p>Our goal is to spread knowledge about GNU/Linux, the open source
	    community, and software as a whole. The club seeks to be a
	    relaxed and friendly space where people of all disciplines
        can gain and share
        information about software development, tech news, and interesting projects.
        </p>
        <h2>Meetings</h2>
        <p>We hold meetings every week on Thursdays from 6pm to 7pm in
        Debartolo Hall, room 224. We alternate between having a presentation
        week and a fun week. During the presentation week, one of the club
        members gives a presentation about a given topic for that week. Example
        topics have been on text editors, Linux distributions, side projects,
        the <a href="https://www.torproject.org/">Tor</a> project, etc. Topics
        are chosen by the club during the prior week's meeting. Any club member
        can give a presentation, and we encourage any and all members to
        participate. There is no requirement to come to weekly meetings, and
        you can come and go during the meetings as you please.
        </p>
        <h2>Life of the Lug</h2>
        <p>Lug is different from other clubs in that a lot of the activity
        exists online. We use the <a href="https://nd-cse.slack.com/">Notre
            Dame Slack</a> channel for almost all our communication. Anyone
        with a nd.edu email address can join. Many of the club decisions,
        activities planning, and general camaraderie happens there. Slack has
        an <a href="http://www.irchelp.org/">IRC</a> gateway which many of us
        use (in sticking with our Linux roots!) with our IRC clients
        to connect to the channel. We encourage all club members to join.
        </p>
	</div>
{% endblock %}
