{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="">
            Notre Dame Linux Users Group
            <a href="http://ndlug-slackin.herokuapp.com">
                <img src="http://ndlug-slackin.herokuapp.com/badge.svg">
            </a>
        </h1>
        <a href="{% url 'about' %}" class="btn btn-success">About</a>
    </div>

    <!-- Subsection 1, Info -->
	<div class="row-fluid">
		<div class="col-md-4 col-md-offset-1 hidden-sm hidden-xs">
			<img class="img-responsive" src="/static/tux-nd-big.png">
		</div>
		<div class="col-md-6"><br>

			<div class="panel panel-primary">
			  <div class="panel-heading">
				<h3 class="panel-title">Welcome!</h3>
			  </div>
			  <div class="panel-body">
                  Please read <a href="{% url 'about' %}">about</a> the club.
                  Check out this page's source code <a href="https://github.com/bdevorem/lug-webpage">here</a>.
			  </div>
			</div>

			<div class="panel panel-primary">
			  <div class="panel-heading">
				<h3 class="panel-title">Meeting Times</h3>
			  </div>
			  <div class="panel-body">
				Thursdays. 5:30pm-6:30pm, 205 Debart
			  </div>
			</div>
		</div>

	</div>
{% endblock %}
