{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="page-header"><i class="fa fa-database"></i> Registration</h1>
            <h2>Join the lug</h2>
        </div>
        <div class="row">
            <p>
                Please sign up to join the LUG. Signing up will allow you to
                vote on topics for meetings as well as receive emails from the
                mailing list.
            </p>
        </div>
        <div class="row">
            <form>
				<div class="form-group">
					<label for="email-input">Email address</label>
					<input type="email" class="form-control" id="email-input" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password-input">Password</label>
					<input type="password" class="form-control" id="password-input" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
        </div>
    </div>

{% endblock %}
